* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    border: 2px solid pink;
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}