@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat+Subrayada:wght@700&family=Montserrat:ital,wght@0,100;0,400;0,700;1,100&family=Russo+One&family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Montserrat+Subrayada:wght@700&family=Montserrat:ital,wght@0,100;0,400;0,700;1,100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Russo+One&family=Underdog&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 15px;
}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

/* span {
    font-family: underdog;
    font-size: 30px;
} */

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0 ;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: rgba(239,40,158,11);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    font-family: 'underdog';
    box-shadow: -4px -4px 8px rgba(249, 247, 247, 0.727),
                 4px 4px 8px rgba(43, 40, 40, 0.647),
                 inset -5px -5px 5px rgba(249,247, 247, 0.727),
                 inset 5px 5px 5px rgba(45, 40, 40, 0.647);
    transition: .5s ease box-shadow;
}
.btn:hover {
    background: radial-gradient(#eb73a3,#d5276c);
    /* background: radial-gradient(#4AAFE7,#002E58); */
    box-shadow: -4px -4px 8px rgba(249, 247, 247, 0.727),
                 4px 4px 8px rgba(43, 40, 40, 0.647);
}

.header {
    background: radial-gradient(#fdcbdf,#e16898);
    /* font-family: 'poppins'; */
    /* font-family: 'lemon milk'; */
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}